# Per https://stackoverflow.com/questions/43658870/requirements-txt-vs-setup-py

# requirements.txt
#
# installs dependencies from ./setup.py, and the package itself,
# in editable mode
-e .

# (the -e above is optional). you could also just install the package
# normally with just the line below (after uncommenting)
# .